@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.a-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: colors.$secondary-color;
  color: colors.$primary-color;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: colors.$hover-button-menu;
    color: colors.$secondary-color;
  }
}

.a-button__prev-slide,
.a-button__next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: colors.$secondary-color;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.a-button__prev-slide {
  left: 1rem;
}

.a-button__next-slide {
  right: 1rem;
}

.a-button-whatsapp {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  background: colors.$background-whatsapp;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.button-edit {
  background: colors.$btn-blue;
  border: none;
  border-radius: 1rem;
  color: colors.$secondary-color;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.button-payment {
  align-items: center;
  background: colors.$btn-blue;
  border: none;
  border-radius: 2rem;
  color: colors.$secondary-color;
  cursor: pointer;
  column-gap: 0.25rem;
  display: grid;
  grid-template-columns:auto 1fr;
  font-size: 1rem;
  padding: 0.5rem;

  &-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(933%) hue-rotate(152deg) brightness(109%) contrast(101%);
  }
}

.button-logout {
  display: grid;
  align-items: center;
  background: colors.$secondary-color;
  border: 0.063rem solid colors.$primary-color;
  border-radius: 2rem;
  color: colors.$primary-color;
  cursor: pointer;
  column-gap: 0.25rem;
  font-family: fonts.$font-primary;
  grid-template-columns:auto 1fr;
  font-size: 1rem;
  padding: 0.5rem;
  width: fit-content;

  &:hover {
    background: colors.$primary-color;
    border: none;
    color: colors.$secondary-color;

    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(933%) hue-rotate(152deg) brightness(109%) contrast(101%);
    }
  }
}

.button-payment-circle {
  background: colors.$secondary-color;
  border: 0.063rem solid colors.$border;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;

  &:hover {
    box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-box;
    -moz-box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-box;
    -webkit-box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-box;
  }

  &-img {
    height: 1.25rem;
    width: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .a-button-whatsapp {
    right: 0.5rem;
  }
}