@use '@/assets/scss/settings/colors';

.a-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: colors.$secondary-color;
  color: colors.$primary-color;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: colors.$hover-button-menu;
    color: colors.$secondary-color;
  }
}

.a-button__prev-slide,
.a-button__next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: colors.$secondary-color;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.a-button__prev-slide {
  left: 1rem;
}

.a-button__next-slide {
  right: 1rem;
}

.a-button-whatsapp {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  background: colors.$background-whatsapp;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .a-button-whatsapp {
    right: 0.5rem;
  }
}