@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.input-standard {
  border: 0.063rem solid colors.$border;
  border-radius: 1rem;
  font-family: fonts.$font-primary;
  font-size: 1rem;
  padding: 0 1rem;
}

.textAreaPayment {
  resize: none;
  overflow: auto;
  height: 7rem;
  font-family: fonts.$font-primary;
}