@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.select-standard {
  appearance: none;
  background: colors.$secondary-color;
  border: 0.063rem solid colors.$admissions-card-border;
  border-radius: 1rem;
  cursor: pointer;
  font-family: fonts.$font-primary;
  padding: 1rem;
  text-align: center;
  width: fit-content;

  &:hover {
    box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-card;
    -moz-box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-card;
    -webkit-box-shadow: 0  0.125rem 0.313rem 0 colors.$shadow-card;
  }
}

.select-payment {
  appearance: none;
  background: colors.$btn-blue;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-family: fonts.$font-primary;
  padding: 1rem;
  text-align: center;
  width: 6.5rem;

  &:hover {
    box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-box;
    -moz-box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-box;
    -webkit-box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-box;
  }
}
.select-document {
  appearance: none;
  background: colors.$secondary-color;
  border: 0.063rem solid colors.$admissions-card-border;
  border-radius: 1rem;
  cursor: pointer;
  font-family: fonts.$font-primary;
  padding: 1rem;
  &:hover {
    box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-card;
    -moz-box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-card;
    -webkit-box-shadow: 0  0.125rem 0.313rem 0 colors.$shadow-card;
  }
}

.select-standard option {
  cursor: pointer;
  padding: 0.5rem;
  color: colors.$text-title;
  font-size: 1rem;


}
.select-methods {
  appearance: none;
  background: colors.$secondary-color;
  border: 0.063rem solid colors.$admissions-card-border;
  border-radius: 1rem;
  cursor: pointer;
  font-family: fonts.$font-primary;
  padding: 1rem;
  text-align: center;
  width: 100%;

  &:hover {
    box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-card;
    -moz-box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-card;
    -webkit-box-shadow: 0  0.125rem 0.313rem 0 colors.$shadow-card;
  }
}

@media (max-width:31.25rem ) {
  .select-standard {
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: fonts.$font-primary;
    padding: 0.5rem;
    text-align: center;
    width: 6rem;

    &:hover {
      box-shadow:none;
    }
  }
}
.darkMode {
  .select-standard {
    appearance: none;
    background: colors.$bg-container-dark;
    color: colors.$secondary-color;
    border: 0.063rem solid colors.$bg-main-dark;
  }
}
