@use '@/assets/scss/settings/colors';

.m-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 4rem;
  }

  &__text {
    font-weight: bold;
    color: colors.$primary-color;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
}