@use '@/assets/scss/settings/colors';

.m-level-card {
  background-color: colors.$secondary-color;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &__content {
    padding: 1.5rem;

    &__title {
      font-size: 1.75rem;
      font-weight: bold;
      color: colors.$primary-color;
      margin-bottom: 0.5rem;
    }

    &__description {
      color: colors.$level-card-description;
      font-size: 1rem;
    }

    &__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}