@use '@/assets/scss/settings/colors';

.modal-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 60dvh;
  overflow-y: auto;
  padding: 1rem;
}



.form-group {
  background-color:$secondary-color;
  display: flex;
  flex-direction: column;
}

.form-group p {
  margin: 0 0 0.3rem;
  font-size: 0.95rem;
  font-weight: 600;
}


.container-form-edit {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding:1rem 2rem;
  font-size: 0.95rem;
  border: 0.063rem solid $border;
  border-radius: 1rem;
  transition: border 0.2s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: $btn-blue;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  margin-top: 1.5rem;
}

.button-edit {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.button-edit:first-child {
  border: 0.063rem solid $border;
  display: flex;
  place-items: center;
  background-color: $secondary-color;
  color: $text-main;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.button-edit:last-child {
  border: none;
  background-color: $color-blue;
  color: $secondary-color;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.button-edit:hover {
  opacity: 0.8;
}

.switch-group {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.625rem;
  height: 1.25rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: $border-resume;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height:1rem;
  width: 1rem;
  left: 0.188rem;
  bottom: 0.188rem;
  background-color: $secondary-color;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $color-blue;
}

input:checked + .slider::before {
  transform: translateX(1rem);
}