@use '@/assets/scss/settings/colors';

.modal-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 50dvh;
  overflow-y: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group p {
  margin: 0 0 0.3rem;
  font-size: 0.95rem;
  font-weight: 600;
}

.form-group input,
.form-group select {
  padding: 0.5rem 2rem;
  font-size: 0.95rem;
  border: 0.063rerm solid colors.$border;
  border-radius: 1rem;
  transition: border-color 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: colors.$btn-blue;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  margin-top: 1.5rem;
}

.button-edit {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-edit:first-child {
  background-color: colors.$disabled;
  color: colors.$text-light;
}

.button-edit:last-child {
  background-color: colors.$btn-primary;
  color: colors.$secondary-color;
}

.button-edit:hover {
  opacity: 0.9;
}
