@use '@/assets/scss/settings/colors';

.button-standard {
  padding:  1rem;
  background: $btn-blue;
  color: colors.$secondary-color;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button-standard:hover {
  background-color:$color-blue;
}

.button-standard:active {
  transform: scale(0.97);
  padding:  1rem;
}

.payments-summary {
  padding: 1rem;
  background-color: $secondary-color;
  border-radius:2rem;
  font-size: 0.85rem;
}

.payments-summary h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color:$pqr-span;
}

.payments-grid.compact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.payment-card {
  background-color:$secondary-color;
  border: 0.063rem solid $border;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.063rem;
}

.payment-card strong {
  font-weight: 600;
  font-size: 0.9rem;
  color:$text-main;
}

.payment-card span {
  color: $border-pqr-form;
  font-size: 0.8rem;
}

.main-payment {
  background-color: $bg-resume;
  border-color:$border-resume;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.main-payment h3 {
  margin: 0;
}