@use "../settings/_colors.scss";

.admissions {
  height: calc(100vh - 150px);
  overflow-y: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "admissions" "footer";

  &__content {
    grid-area: admissions;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
                "old-student" "new-student" "valors" "philosophy" "motto";

    &__old-student {
      grid-area: old-student;
      background-color: $background-announcements-light-yellow;
      padding: 50px 20%;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

    &__new-student {
      grid-area: new-student;
      background-color: $background-announcements;
      padding: 50px 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__valors {
      grid-area: valors;
      background-color: colors.$background-announcements-orange;
      padding: 50px 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      &__levels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;

        &__card {
          width: 30%;
          height: 300px;
          //background-color: $background-announcements;
          border: 2px solid white;
          border-radius: 10px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          padding: 40px 30px;
          justify-content: center;
        }
      }
    }

    &__philosophy {
      grid-area: philosophy;
      background-color: $background-announcements-light-yellow;
      padding: 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__motto {
      grid-area: motto;
      background-color: $background-announcements;
      padding: 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-family: $font-admissions-title;
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
  }

  &__text {
    line-height: 1.5rem;
    text-align: justify;
    text-justify: auto;
  }

  &__title-card {
    font-family: $font-admissions-title;
    font-size: 1.4rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__title-item {
    font-family: $font-admissions-title;
    font-size: 1.2rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__value-item {
    //font-family: $font-admissions-title;
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .admissions {
    width: 100vw;
    box-sizing: border-box;
    height: calc(100dvh - 100px);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "admissions" "footer";
    gap: 0;

    &__content {
      grid-template-rows: 1fr;

      &__old-student {
        //height: 550px;
        padding: 30px;
      }

      &__new-student {
        padding: 30px;
      }

      &__valors {
        padding: 30px;

        &__levels {
          flex-direction: column;

          &__card {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }

      &__philosophy {
        padding: 30px;
      }

      &__motto {
        padding: 30px;
      }
    }
  }
}