.carrousel {
  position: relative;
  width: 100vw;
  height: 100%;

  &__img {
    width: 100vw;
    height: 100%;
  }

  &__previous {
    cursor: pointer;
    border: none;
    position: absolute;
    background-color: black;
    width: 60px;
    height: 60px;
    left: 2vw;
    top: 50%;
    transform: translate(0, -50%);
    color: $button-carrousel;
    font-size: 1.5rem;
  }

  &__next {
    cursor: pointer;
    border: none;
    position: absolute;
    background-color: black;
    width: 60px;
    height: 60px;
    right: 2vw;
    top: 50%;
    transform: translate(0, -50%);
    color: $button-carrousel;
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .carrousel {
    &__previous {
      width: 40px;
      height: 40px;
      font-size: 1rem;
    }

    &__next {
      width: 40px;
      height: 40px;
      font-size: 1rem;
    }
  }
}