.footer {

  &__phone-information{
    height: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text-footer;

    &__icon {
      width: 30px;
      margin-right: 10px;
    }

    &__phone {
      font-size: 1rem;
    }
  }

  &__whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:70px;
    right:10px;
    background-color: #1e8d48;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #564e4e;
    z-index:100;

    &__icon {
      width: 30px;
      margin-top: 13px;
    }
  }
}

@media (max-width: 450px) {
  .footer{
    &__whatsapp {
      bottom:30px;

      &__icon {
        width: 30px;
        margin-top: 13px;
      }
    }
  }
}