@use "../settings/_colors.scss";

.landing_container {
  height: calc(100vh - 150px);
  overflow-y: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: calc(100vh - 150px) 1fr;
  grid-template-areas:
            "carrousel"
            "announcements"
            "footer";

  &__carrousel {
    grid-area: carrousel;
    position: relative;
  }

  &__announcements {
    grid-area: announcements;
  }
}

@media (max-width: 450px) {
  .landing_container {
    width: 100vw;
    box-sizing: border-box;
    height: calc(100dvh - 100px);
    grid-template-rows: calc(100dvh - 100px) 1fr;
    grid-template-columns: 100vw;
    grid-template-areas:
            "carrousel" "announcements" "footer";

    &__carrousel {
      width: 100vw;
    }

    &__announcements {
      width: 100vw;
      margin: 0;
    }
  }
}