@use "../settings/_colors.scss";

.news {
  height: calc(100vh - 150px);
  overflow-y: auto;
  box-sizing: border-box;
  width: 100vw;
  padding-top: 30px;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10vw;
    width: 80vw;
    align-content: center;

    &__new {
      width: 40vw;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;

      &__img {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
          border-radius: 10px;
          width: 35vw;
          height: 35vw;
        }
      }

      &__title {
        font-family: $font-news-title;
        font-size: 2rem;
        width: 100%;
        text-align: center;
      }

      &__text {
        width: 30vw;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 2rem;
        text-align: justify;
        text-justify: auto;
      }
    }
  }
}

@media (max-width: 450px) {
  .news {
    width: 100vw;
    box-sizing: border-box;
    height: calc(100dvh - 100px);

    &__content {
      margin-left: 5vw;
      margin-top: 20px;
      width: 90vw;
      justify-content: center;

      &__new {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
        text-align: center;
        margin-bottom: 20px;

        &__img {
          display: flex;
          justify-content: center;
          width: 100vw;
          height: 220px;

          img {
            width: 200px;
            height: 200px;
          }
        }

        &__title {
          padding: 0 20px;
          width: 100vw;
        }

        &__text {
          padding: 0 20px;
          width: 100vw;
          line-height: 1.5rem;
        }
      }
    }
  }
}