.news {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;

  &__new{
    width: 100%;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "image title" "image text";

    &__img {
      grid-area: image;
      grid-row: 1 / span 2;

      img {
        border-radius: 10px;
        width: 400px;
      }
    }

    &__title {
      grid-area: title;
      font-family: $_acme;
      font-size: 2rem;
      padding-left: 100px;
    }

    &__text {
      grid-area: text;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 100px;
      line-height: 2rem;
      text-align:justify;
      text-justify:auto;
    }
  }
}

@media (max-width: 450px) {
  .news{
    width: 100vw;
    margin-top: 40px;

    &__new {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100vw;
      text-align: center;
      grid-template-columns: 100vw;
      grid-template-rows: 1fr;
      grid-template-areas: "image" "title" "text";

      &__img {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 220px;

        img {
          width: 200px;
          height: 200px;
        }
      }

      &__title {
        padding: 0 20px;
        width: 100vw;
      }

      &__text {
        padding: 0 20px;
        width: 100vw;
      }
    }
  }
}