@use '@/assets/scss/settings/colors';

.subtitulo {
  margin: 0;
}

.cards-container-cash-flow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 45dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.fecha-selector {
  display: flex;
  align-items: center;
  gap: 1rem;

  label {
    font-size: 1rem;
    font-weight: 600;
    color: colors.$text-dark-blue;
  }

  .dp__input_wrap {
    input {
      font-size: 1rem;
      padding: 0.5rem 1rem 0.5rem 2rem;
      border-radius: 0.625rem;
      border: 0.063rem solid colors.$border-standard;
      background-color: colors.$bg-main;
      color: colors.$text-dark-blue;
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        border-color: colors.$text-dark-blue;
        box-shadow: 0 0 0.313rem rgba(colors.$text-dark-blue, 0.4);
      }
    }
  }
}
.darkMode {
  label {
    color: colors.$secondary-color;
  }

  .dp__input_wrap {
    input {
      background-color: colors.$bg-dark;
      border-color: colors.$border-dark;
      color: colors.$secondary-color;
      box-shadow: 0 0 0.125rem rgba(colors.$text-light, 0.2);

      &::placeholder {
        color: rgba(colors.$text-light, 0.6);
      }

      &:focus {
        border-color: lighten(colors.$text-light, 15%);
        box-shadow: 0 0 0.313rem rgba(colors.$text-light, 0.4);
      }
    }
  }
}

