@use '@/assets/scss/settings/colors';


.dashboard-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.resumen-anual {
  min-width: 280px;
}

.resumen-item-dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.positivo {
  color: colors.$green;
}

.negativo {
  color: #f44336;
}

.card {
  background-color: colors.$secondary-color;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #374151;
}

.card-number {
  font-size: 2rem;
  font-weight: bold;
  color: #111827;
}

.dashboard-graph {
  background: colors.$secondary-color;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 45dvh;
}

@media(max-width: 31.125rem) {
  .dashboard-graph {
    height: 20rem;
  }
  .dashboard-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 1rem;
    text-align: center;
  }

  .resumen-item-dashboard {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
}
.darkMode {
  .card {
    background-color: colors.$card-border-dark;
    color: colors.$secondary-color;
    box-shadow: none;

    h3 {
      color: lighten(colors.$secondary-color, 20%);
    }

    .card-number {
      color: colors.$text-dark-blue;
    }

    .resumen-item-dashboard {
      color: colors.$secondary-color;

      span {
        color: lighten(colors.$secondary-color, 15%);
      }

      strong {
        color: colors.$secondary-color;
      }

      .positivo {
        color: lighten(colors.$green, 10%);
      }

      .negativo {
        color: lighten(colors.$text-red-dark, 10%);
      }
    }
  }

  .dashboard-graph {
    background-color: colors.$card-border-dark;
    color: colors.$secondary-color;
    box-shadow: none;
  }

  canvas {
    color: colors.$secondary-color !important;
  }
}

