@use '@/assets/scss/settings/colors';


.dashboard-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.resumen-anual {
  min-width: 280px;
}

.resumen-item-dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.positivo {
  color: #4caf50;
}

.negativo {
  color: #f44336;
}

.card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #374151;
}

.card-number {
  font-size: 2rem;
  font-weight: bold;
  color: #111827;
}

.dashboard-graph {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 45dvh;
}

@media(max-width: 31.125rem) {
  .dashboard-graph {
    height: 20rem;
  }
  .dashboard-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 1rem;
    text-align: center;
  }

  .resumen-item-dashboard {
    display: block;
    text-align: center;
    font-size: 1rem;
  }
}
