@use '@/assets/scss/settings/colors';

.header-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.add-button {
  background-color: #621410;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.activities-container {
  max-height: calc(100vh - 16rem);
  overflow-y: auto;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.candidates-container {
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-card {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background: #f0f0f0;
  }
}

.news-card img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 4px;
}

.news-card h3 {
  margin: 0 0 4px;
}

.news-card p {
  margin: 0;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  flex: 1;
  margin-right: 12px;
}

.meta {
  margin-top: 8px;
  font-size: 0.85rem;
  color: #777;
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.darkMode {
  .header-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .activities-container {
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news-card {
    background: colors.$card-border-dark;
    color: colors.$secondary-color;

    &:hover {
      background: colors.$bg-hover-dark;
    }
  }

  .news-card p {
    color: colors.$secondary-color;
  }

  .meta {
    color: colors.$text-dark;
  }

}
