@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.student-modal {
  padding: 24px;
  max-width: 700px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.student-modal__close {
  display: flex;
  justify-content: flex-end;
}

.student-modal__header {
  text-align: center;
  margin-bottom: 24px;
}

.student-modal__header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.student-modal__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
  max-height: 50dvh;
  overflow-y: auto;
}

.student-modal__item {
  background-color: #f8f8f8;
  padding: 12px 16px;
  border-radius: 8px;
}

.student-modal__item .label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 4px;
}

.student-modal__item p {
  margin: 0;
  font-size: 1rem;
  color: #222;
}

.student-modal__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.student-modal__btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close {
  width: 20px;
  height: 20px;
  background-color: #e1e1e1;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.student-modal__btn.promote {
  background-color: #610e0d;
  color: white;
}

.student-modal__btn.peace {
  background-color: #610e0d;
  color: white;
}

.student-modal__btn.edit {
  background-color: #610e0d;
  color: white;
}

.darkMode {
  .student-modal {
    background-color: colors.$bg-dark;
    box-shadow:none;
  }
  .student-modal__item {
    background-color: colors.$card-border-dark;
    color: colors.$secondary-color;
  }

  .student-modal__item .label {
    color: colors.$text-dark;
  }

  .student-modal__item p {
    color: colors.$secondary-color;
  }

  .student-modal__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .student-modal__btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .close {
    background-color: colors.$card-border-dark;

    img {
      filter: brightness(0) saturate(100%) invert(98%) sepia(53%) saturate(4591%) hue-rotate(189deg) brightness(131%) contrast(100%);
    }
  }
}
