@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.l-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app-layout {
  background-color: #ffffff;
  background-image: url("@/assets/img/background/circuit-board.svg");
  background-position: center;
  display: flex;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}
