@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.l-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

.app-layout {
  background: colors.$background-app ;
  display: flex;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  transition: background 0.3s, color 0.3s;
}

.darkMode {
  .app-layout  {
    background: colors.$background-dark;
    color: colors.$secondary-color;
  }
}
