@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.consulta-container {
  width: 50rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1.5rem;
  background-color: colors.$bg-main;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 90dvh;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 0.5rem;
}

.filters {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.filter {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
}

.resumen-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.resumen-item {
  font-size: 1.2rem;
  background: #f3f4f6;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 600;
}

.resumen-item span {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

.ingresos span,
.efectivo span,
.saldo-positivo span {
  color: colors.$dark-green;
}

.salidas span,
.saldo-negativo span {
  color: colors.$red;
}

.transferencia span {
  color: colors.$color-blue;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 65dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.movimiento-card.vacio {
  text-align: center;
  opacity: 0.6;
  font-style: italic;
}

.movimiento-card {
  border: 0.063rem solid colors.$border;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  background-color: colors.$secondary-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  &:hover {
    background: colors.$hover-movements;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fecha {
  color: #4b5563;
  font-size: 0.9rem;
}

.valor-metodo {
  text-align: right;
  display: flex;
  align-items: flex-end;
  gap: 0.1rem;
}

.positivo {
  color: colors.$dark-green;
}

.negativo {
  color: colors.$red;
}

.metodo {
  font-size: 0.85rem;
  color: #6b7280;
}

.descripcion {
  color: colors.$text-main;
  font-size: 0.95rem;
  font-weight: 500;
}

.mes-destacado {
  background-color: #f3f4f6;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  font-size: 0.85rem;
  color: #374151;
  font-weight: 500;
  width: fit-content;
}

.bill-chip {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 999px;
  background-color: #fff;
  color: #2563eb;
  border: 1px solid #2563eb;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #2563eb;
    color: #fff;
  }
}

@media (max-width: 31.28rem) {
  .consulta-container {
    width: 50rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1.5rem;
    background-color: colors.$bg-main;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 90dvh;
  }

  .title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto 0.5rem;
  }

  .filters {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(2, auto);
    gap: 1rem;
    place-items: center;
  }

  .filter {
    align-items: center;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:  1fr 1fr;
    column-gap: 0.5rem;
    place-items: center;
  }

  .resumen-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
    padding: 1rem;
  }

  .resumen-item {
    font-size: 1.2rem;
    background: #f3f4f6;
    padding: 1rem;
    border-radius: 8px;
    font-weight: 600;
  }

  .resumen-item span {
    display: block;
    font-size: 1.5rem;
    margin-top: 0.2rem;
  }

  .ingresos span,
  .efectivo span,
  .saldo-positivo span {
    color: colors.$dark-green;
  }

  .salidas span,
  .saldo-negativo span {
    color: colors.$red;
  }

  .transferencia span {
    color: colors.$color-blue;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 55dvh;
    overflow-y: scroll;
  }

  .movimiento-card.vacio {
    text-align: center;
    opacity: 0.6;
    font-style: italic;
  }

  .movimiento-card {
    border: 0.063rem solid colors.$border;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    background-color: colors.$secondary-color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 0.4rem;

    &:hover {
      background: colors.$hover-movements;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fecha {
    color: #4b5563;
    font-size: 0.9rem;
  }

  .valor-metodo {
    text-align: right;
    display: flex;
    align-items: flex-end;
    gap: 0.1rem;
  }

  .positivo {
    color: colors.$dark-green;
  }

  .negativo {
    color: colors.$red;
  }

  .metodo {
    font-size: 0.85rem;
    color: #6b7280;
  }

  .descripcion {
    color: colors.$text-main;
    font-size: 0.95rem;
    font-weight: 500;
  }
}
.darkMode {
  .consulta-container {
    background-color: colors.$card-border-dark;
    color: colors.$secondary-color;
  }

  .resumen-item {
    background: colors.$card-border-dark;
  }

  .ingresos span,
  .efectivo span,
  .saldo-positivo span {
    color: colors.$dark-green;
  }

  .salidas span,
  .saldo-negativo span {
    color: colors.$text-red-dark;
  }

  .transferencia span {
    color: colors.$text-dark-blue;
  }
  .movimiento-card {
    border:none;
    color: colors.$secondary-color;
    background-color: colors.$card-border-dark;
    box-shadow: none;
    &:hover {
      background: colors.$bg-hover-dark;
    }
  }

  .fecha {
    color: colors.$text-dark;
  }

  .negativo {
    color: colors.$text-red-dark;
  }

  .metodo {
    font-size: 0.85rem;
    color: colors.$text-dark;
  }

  .descripcion {
    color: colors.$secondary-color;
  }

  .mes-destacado {
    background-color: colors.$card-border-dark;
    color: colors.$secondary-color;
  }

  .bill-chip {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 999px;
    background-color: colors.$card-border-dark;
    color: colors.$text-dark-blue;
    border: 0.063rem solid colors.$text-dark-blue;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: colors.$text-dark-blue;;
      color: colors.$secondary-color;
    }
  }
}
