@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.home-portal {
  background: colors.$secondary-color;
  border-radius: 5rem;
  box-shadow: 0 0.125rem 0.25rem 0 colors.$shadow-card;
  -moz-box-shadow: 0 0.125rem 0.25rem 0 colors.$shadow-card;
  -webkit-box-shadow: 0  0.125rem 0.25rem 0 colors.$shadow-card;
  display: grid;
  height: fit-content;
  grid-template-columns: auto 1fr;
  place-items: center;
  padding: 2rem;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }

  &__title {
    font-size: 5rem;
    font-family: fonts.$font-title;
    text-align: center;
  }

  &__subtitle {
    font-size: 2rem;
    font-family: fonts.$font-primary;
    text-align: center;
  }
  &__text {
    font-size: 1.25rem;
    font-family: fonts.$font-primary-regular;
    text-align: center;
  }

  &-logo {
    height: 15rem;
    width: 15rem;
  }
}

@media(max-width: 31.125rem) {
  .home-portal {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 5rem;
    box-shadow: 0 0.125rem 0.25rem 0 colors.$shadow-card;
    -moz-box-shadow: 0 0.125rem 0.25rem 0 colors.$shadow-card;
    -webkit-box-shadow: 0  0.125rem 0.25rem 0 colors.$shadow-card;
    height: fit-content;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 2rem;
    &__title {
      font-size: 2rem;
      font-family: fonts.$font-title;
      text-align: center;
    }
  }
}