@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.sidebar {
  align-items: center;
  background: colors.$secondary-color;
  box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
  -moz-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
  display: grid;
  height: 97dvh;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  transition: none;
  z-index: 1200;
  width: 17rem;

  &-user-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0.5rem;
    place-items: center;

    &__img {
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
    }

    &__user-details {
      color: colors.$text-title;
      font-family: fonts.$font-title;
      text-align: center;

      &-email {
        color: colors.$text-light;
        font-family: fonts.$font-primary;
        font-size: 0.90rem;
      }
    }
  }

  &-year {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr auto;
    column-gap: 0.5rem;

    &__button {
      background-color: colors.$primary-color;
      color: colors.$secondary-color;
      border: none;
      border-radius: 8px;
      padding: 0.4rem 0.8rem;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #801312;
      }

      &:disabled {
        background-color: colors.$primary-color;
        color: colors.$secondary-color;
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .select-standard {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 0.063rem solid colors.$border;
      font-size: 1rem;
    }
  }


  &-menu-items {
    align-content: start;
    background-image: url("@/assets/img/general/logo.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100%;
    overflow: auto;
    row-gap: 0.125rem;
    padding: 0 1rem;

    &-container {
      cursor: pointer;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.5rem;
      padding: 0.5rem 0;
      align-items: center;

      &-selected {
        border-radius: 0.25rem;
        border-left: 0.125rem solid colors.$primary-color;
        padding-left: 0.25rem;
        background: colors.$hover-button-menu;
        color: colors.$primary-color;
      }

      &:hover {
        border-radius: 0.25rem;
        border-left: 0.125rem solid colors.$primary-color;
        padding-left: 0.25rem;
        background: colors.$hover-button-menu;
        color: colors.$primary-color;
      }
    }

    &-container-new {
      cursor: pointer;
      display: grid;
      grid-template-columns: auto 1fr auto;
      column-gap: 0.5rem;
      padding: 0.5rem 0;
      align-items: center;

      &:hover {
        border-radius: 0.25rem;
        border-left: 0.125rem solid colors.$primary-color;
        padding-left: 0.25rem;
        background: colors.$hover-button-menu;
        color: colors.$primary-color;
      }
    }

    &__img {
      height: 1.956rem;
      width: 1.956rem;
    }
  }


  .submenu-item {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: colors.$hover-button-menu;
      color: colors.$primary-color;
    }

    &--active {
      background-color: colors.$hover-button-menu;
      color: colors.$primary-color;
    }
  }

  &-logout {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    place-items: center;
  }
}

.hamburger {
  display: none;
  position: fixed;
  top: 1rem;
  left: 0.5rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1300;
}
.theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.05);
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.3));
    transition: transform 0.3s ease, opacity 0.3s ease;

    .theme--dark & {
      filter: brightness(1.2);
    }
  }
}



@media (min-width: 48.063rem) {
  .hamburger {
    display: none;
  }

  .sidebar {
    position: relative;
    left: 0;
    transition: none;
    width: 17rem;
  }
}


@media (max-width: 48rem) {
  .hamburger {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -18.125rem;
    width: 15.625rem;
    height: 97dvh;
    box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
    -moz-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
    -webkit-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
    transition: left 0.3s ease;
    background-color: colors.$secondary-color;
    overflow-y: auto;
    z-index: 1200;

    &.sidebar--open {
      left: 0;
    }
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
    -moz-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
    -webkit-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
    z-index: 1199;
  }

  .sidebar-logout {
    position: relative;
    bottom: auto;
  }
}

.darkMode {
  .sidebar {
    align-items: center;
    background: colors.$bg-sidebar-dark;
    box-shadow:none;
    color: colors.$secondary-color;

    &-user-info {
      &__user-details {
        color: colors.$secondary-color;
        &-email {
          color: colors.$text-dark;
        }
      }
    }

    &-year {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr auto;
      column-gap: 0.5rem;

      &__button {
        background-color: colors.$primary-color;
        color: colors.$secondary-color;
        border: none;
        border-radius: 8px;
        padding: 0.4rem 0.8rem;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #801312;
        }

        &:disabled {
          background-color: colors.$primary-color;
          color: colors.$secondary-color;
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .select-standard {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 0.063rem solid colors.$bg-main-dark;
        font-size: 1rem;
      }
    }


    &-menu-items {
      align-content: start;
      background: none;


      &-container {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 0.5rem;
        padding: 0.5rem 0;
        align-items: center;

        &-selected {
          border-radius: 0.25rem;
          border-left: 0.125rem solid colors.$text-dark;
          padding-left: 0.25rem;
          background: colors.$hover-button-menu-dark;
          color: colors.$secondary-color;
        }

        &:hover {
          border-radius: 0.25rem;
          border-left: 0.125rem solid colors.$text-dark;
          padding-left: 0.25rem;
          background: colors.$hover-button-menu-dark;
          color: colors.$text-dark;
        }
      }

      &-container-new {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 0.5rem;
        padding: 0.5rem 0;
        align-items: center;

        &:hover {
          border-radius: 0.25rem;
          border-left: 0.125rem solid colors.$text-dark;
          padding-left: 0.25rem;
          background: colors.$hover-button-menu-dark;
          color: colors.$text-dark;
        }
      }

      &__img {
        height: 1.956rem;
        width: 1.956rem;
        filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7419%) hue-rotate(255deg) brightness(98%) contrast(112%);
      }
    }

    .submenu-item {
      &:hover {
        background: colors.$hover-button-menu-dark;
        color: colors.$text-dark;
      }
      &--active {
        background: colors.$hover-button-menu-dark;
        color: colors.$text-dark;
      }
    }
  }
  .theme-toggle {
    &:hover {
      background-color: colors.$bg-main-dark;
    }
  }
}
