@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.sidebar {
  align-items: center;
  background: colors.$secondary-color;
  box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
  -moz-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 colors.$shadow-card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 1rem;
  padding: 1rem;
  width: 17rem;

  &-user-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    place-items: center;

    &__img {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
    }

    &__user-details {
      color: colors.$text-title;
      font-family: fonts.$font-title;
      text-align: center;

      &-email {
        color: colors.$text-light;
        font-family: fonts.$font-primary;
        font-size: 0.90rem;
      }
    }

  }

  &-year {
    display: grid;
    place-items: center;
  }

  &-menu-items {
    align-content: start;
    background-image: url("@/assets/img/general/logo.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100%;
    overflow: auto;
    row-gap: 1rem;
    padding: 0 1rem;

    &-container {
      cursor: pointer;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 0.5rem;
      padding: 0.5rem 0;
      align-items: center;

      &-selected {
        border-radius: 0.25rem;
        border-left: 0.125rem solid colors.$primary-color;
        padding-left: 0.25rem;
        background: colors.$hover-button-menu;
        color: colors.$primary-color;
      }

      &:hover {
        border-radius: 0.25rem;
        border-left: 0.125rem solid colors.$primary-color;
        padding-left: 0.25rem;
        background: colors.$hover-button-menu;
        color: colors.$primary-color;
      }
    }

    &-container-new {
      cursor: pointer;
      display: grid;
      grid-template-columns: auto 1fr auto;
      column-gap: 0.5rem;
      padding: 0.5rem 0;
      align-items: center;

      &:hover {
        border-radius: 0.25rem;
        border-left: 0.125rem solid colors.$primary-color;
        padding-left: 0.25rem;
        background: colors.$hover-button-menu;
        color: colors.$primary-color;
      }
    }

    &__img {
      height: 1.956rem;
      width: 1.956rem;
    }
  }

  &-logout {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    place-items: center;
  }
}