@use '@/assets/scss/settings/colors';
@use '@/assets/scss/settings/fonts';

.content {
  display: grid;
  justify-content: center;
  height: 100dvh;
  padding: 1rem 0;
  width: 100%;
  position: relative;
}

.l-standard {
  background: colors.$bg-main;
  border: 0.125rem solid colors.$border-standard;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.313rem 0 colors.$shadow-box;
  display: grid;
  grid-auto-columns: 1fr;
  height: 90dvh;
  padding: 2rem;
  row-gap: 1rem;
  width: 50rem;
  align-content: start;

  &-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
    font-family: fonts.$font-title;
    font-size: clamp(1rem, 0.9049rem + 0.4348vw, 1.5rem);

    &__text {
      color: colors.$text-light;
      font-family: fonts.$font-primary-regular;
      font-size: clamp(0.75rem, 0.9049rem + 0.4348vw, 1rem);
    }
  }

  &-option {
    align-items: center;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;

  }

  &-option-payment {
    align-self: start;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: auto auto 1fr auto;

    &__input-student {
      display: grid;
      position: relative;
      place-items: center;
    }
  }

  &-payment-values-buttons {
    display: flex;
    justify-content: end;

    &__button {
      padding: 1rem;
      background: colors.$primary-color;
      color: colors.$secondary-color;
      border-radius: 2rem;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-option-payment-mobil {
    display: none;
  }

  &-container-card {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    height: 74vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-container-payments {
    align-self: start;
    border: 0.063rem solid colors.$border;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-content: start;
    height: 72dvh;
    padding: 1rem;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__title-payment {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 1rem;
      padding: 0 1rem;
    }

    &__title {
      font-size: clamp(0.75rem, 0.9049rem + 0.4348vw, 1.25rem);
      font-family: fonts.$font-title;
    }

    &__table {
      border-radius: 1rem;
      border: 0.063rem solid colors.$border;
      align-self: start;
      display: grid;
      width: 100%;
      overflow: clip;

      &-thead {
        background: colors.$text-light;
        color: colors.$secondary-color;
        font-family: fonts.$font-title;
        column-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 1rem 0.5rem;
      }

      &-tbody {
        align-items: center;
        background: colors.$bg-main;
        column-gap: 1rem;
        display: grid;
        max-height: 60dvh;
        grid-template-columns: repeat(7, 1fr);
        padding: 0.5rem;

        &:hover {
          background-color: colors.$hover-color;
          cursor: pointer;
        }

        &-icon {
          display: grid;
          grid-template-columns: auto auto auto auto;
          column-gap: 0.063rem;
        }
      }
    }
  }
}

@media(max-width: 31.125rem) {
  .content {
    padding: 1rem;
    width: 100%;
  }
  .l-standard {
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100dvh;
    row-gap: 1rem;
    padding: 0;
    width: 100%;
    overflow-y: auto;

    &-container-card {
      align-self: start;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 1rem;
      height: 74vh;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-title {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 1rem;
      text-align: center;
      font-family: fonts.$font-title;
      font-size: clamp(1rem, 0.9049rem + 0.4348vw, 1.5rem);
      width: 100%;

      &__text {
        color: colors.$text-light;
        font-family: fonts.$font-primary-regular;
        font-size: clamp(0.75rem, 0.9049rem + 0.4348vw, 1rem);
      }
    }

    &-option-payment {
      display: none;
    }

    &-option-payment-mobil {
      display: grid;
      row-gap: 0.5rem;
      grid-template-columns: 1fr;

      &__container {
        display: grid;
        grid-template-columns: 1fr  auto;
      }
    }

    &-container-payments {
      &__table {
        border-radius: 0.25rem;
        border: 0.063rem solid colors.$border;
        align-self: start;
        display: grid;
        width: 100%;
        overflow: scroll;

        &-thead {
          background: colors.$text-light;
          color: colors.$secondary-color;
          font-family: fonts.$font-title;
          column-gap: 1rem;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          padding: 1rem 0.5rem;
        }

        &-tbody {
          align-items: center;
          background: colors.$bg-main;
          column-gap: 1rem;
          display: grid;
          max-height: 60dvh;
          grid-template-columns: repeat(7, 1fr);
          padding: 0.5rem;

          &:hover {
            background-color: colors.$hover-color;
            cursor: pointer;
          }

          &-icon {
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 0.063rem;
          }
        }
      }

      &__title-payment {
        width: 22rem;
      }
    }

    &__title-payment {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 1rem;
      padding: 0 1rem;
    }

  }
}

@media(max-width: 28.125rem) {
  .content {
    padding: 1rem;
    width: 100%;
  }
  .l-standard {
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100dvh;
    row-gap: 1rem;
    padding: 0;
    width: 100%;
    overflow-y: auto;

    &-title {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 1rem;
      text-align: center;
      font-family: fonts.$font-title;
      font-size: clamp(1rem, 0.9049rem + 0.4348vw, 1.5rem);
      width: 100%;

      &__text {
        color: colors.$text-light;
        font-family: fonts.$font-primary-regular;
        font-size: clamp(0.75rem, 0.9049rem + 0.4348vw, 1rem);
      }
    }

    &-option-payment {
      display: none;
    }

    &-option-payment-mobil {
      display: grid;
      row-gap: 0.5rem;
      grid-template-columns: 1fr;

      &__container {
        display: grid;
        grid-template-columns: 1fr  auto;
      }
    }

    &-container-payments {
      &__title-payment {
        width: 20rem;
      }
    }

    &__title-payment {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 1rem;
      padding: 0 1rem;
    }
  }
}

.darkMode {
  .l-standard {
    background: colors.$bg-main-dark;
    border: 0.125rem solid colors.$card-border-dark;
    box-shadow: none;

    &-title {
      &__text {
        color: colors.$text-dark;
      }
    }

    &-payment-values-buttons {
      &__button {
        padding: 1rem;
        background: colors.$primary-color;
        color: colors.$secondary-color;
        border-radius: 2rem;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &-container-payments {
      border: 0.063rem solid colors.$border-dark;

      &__table {
        border: 0.063rem solid colors.$border-dark;

        &-thead {
          background: colors.$bg-hover-dark;
          color: colors.$secondary-color;
        }

        &-tbody {
          align-items: center;
          background: colors.$card-border-dark;
          column-gap: 1rem;
          display: grid;
          max-height: 60dvh;
          grid-template-columns: repeat(7, 1fr);
          padding: 0.5rem;

          &:hover {
            background-color: colors.$bg-hover-table-dark;
            cursor: pointer;
          }

          &-icon {
            display: grid;
            grid-template-columns: auto auto auto auto;
            column-gap: 0.063rem;
          }
        }
      }
    }
  }
}
