$_white: #ffffff;
$_magenta: #610e0d;
$_light-magenta: #905655;
$_gray: #f3f3f3;
$_light-gray: #ddd;
$_dark-gray: #555;
$_black: #000000;
$_dark-green: #1e8d48;

// Background
$background-levels: $_gray;
$background-footer: $_magenta;
$background-whatsapp: $_dark-green;
$table-header-background: #f7f7f7;

// Button
$hover-button-menu: $_light-magenta;

// Text
$menu-label: $_magenta;
$primary-color: $_magenta;
$secondary-color: $_white;
$level-card-description: $_dark-gray;
$admissions-card-note: $_dark-gray;

// Border
$admissions-card-border: $_light-gray;
$border-menu-active: $_magenta;
