@use "../settings/_colors.scss";

@font-face {
  font-family: "BestSchoolFont";
  src: url("@/assets/fonts/BestSchoolFont.otf") format("truetype");
}

@font-face {
  font-family: "BestSchoolOutlineFont";
  src: url("@/assets/fonts/BestSchoolOutlineFont.otf") format("truetype");
}

@font-face {
  font-family: "SchoolbellRegular";
  src: url("@/assets/fonts/SchoolbellRegular.ttf") format("truetype");
}

@font-face {
  font-family: "AcmeRegular";
  src: url("@/assets/fonts/AcmeRegular.ttf") format("truetype");
}

$_best-school: BestSchoolFont, serif;
$_best-school-outline: BestSchoolOutlineFont, serif;
$_schoolbell: SchoolbellRegular, serif;
$_acme: AcmeRegular, serif;

// Typography
$font-primary-title: $_acme;
$font-menu-mobile: $_acme;
$font-primary-title-outline: $_best-school-outline;